root = true

[*]
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
indent_style = space

ij_javascript_finally_on_new_line = true
ij_typescript_force_semicolon_style = true
ij_typescript_use_semicolon_after_statement = true
